{% extends "base.html" %}

{% block page_styles %}{% endblock %}

{% block page_name %}Stepper Motor Data Table{% endblock %}

{% block page_buttons %}{% endblock %}

{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tag Name</th>
      <th scope="col">Tag Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in stepper_motor_data_dict.items %}
      {% if key == "E-Stop" and value is True%}
      <tr class="table-danger">
          <td>{{key}}</td>
          <td>{{value}}</td>
      </tr>
      {% else %}
      <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block page_scripts %}{% endblock %}